*{margin:0; padding:0; font-size:18px; font-family: 'Playfair Display', serif, sans-serif; color: #ffffff; text-decoration: none; list-style-type: none;}
html, body{height:100%;}
body{
    background: #161616;
}

.wrap{
    max-width: 1700px;
    margin: 0 auto;
}


