*{margin:0; padding:0; font-size:18px; font-family: 'Playfair Display', serif, sans-serif; color: #fff; text-decoration: none; list-style-type: none;}
html, body{height:100%;}
body{
    background: #161616;
}

.wrap{
    max-width: 1700px;
    margin: 0 auto;
}

.gold{
    color: #BE9D70;  
}

h1{
    text-align: center;
    font-size: 52px;
    color: #222;
    padding:  40px 0 70px 0;
}

.dws-menu [ type="checkbox"],
.dws-menu label.taggleSubmenu{
    display: none;
}

/*Начало стилей для шапки*/
header{
    position: fixed;
    width: 100%;
    background: #19191918;
    backdrop-filter: blur(6px);
   
}

.dws-menu label.tagglemenu{

    display: none;
    padding: 15px 50px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-in;
}

.dws-menu label.tagglemenu img{
    position: absolute;
    width: 28px;
    top: 15px;
    left: 10px;
}
   .dws-menu > ul{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .dws-menu > ul li{
    position: relative;
   }
  
   .dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
   }
   .dws-menu > ul li a{
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;

   }
   .dws-menu li a:hover{
    color: #222;
    background: #BE9D70;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
   }
   .transform-img img{
    width: 12px;
    transform: rotate(-90deg);
    margin-left: 5px;
   }


  

   /*sub menu*/
   .dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
    background: #19191918;
    padding: 7px 0;
    backdrop-filter: blur(6px);
   }
   .dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
   }
   .dws-menu li > ul li ul{
    position: absolute;

    top: 0;
   }
   
   
   /*==== MEDIA ====*/
   .dws-menu [type="checkbox"],
   .dws-menu label.toggleSubmenu{
    display: none;
   }

   .dws-menu li:hover > ul{
    display: block;
   }

  

   .dws-menu label.toggleMenu{
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
   }
   
   .dws-menu label.toggleMenu .fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
   }
/*Конец стилей для шапки*/

/*Начало стилей для section-start*/
.section-start-p-1{
    margin-left: 40px;   
}
.section-start-p-2{
    margin-left: -240px;   
}
.section-start-p-3{
    margin-left: 360px;   
}
.section-start{
    background-image: url(../img/542498e29f675840809d865227234ac6.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
    
}


.section-start div{
   text-align: center;
   padding: 8vh 0;
}


.section-start div p, .section-start div span {
    font-size: 62px;
    font-weight: 300;
}
/*Конец стилей для section-start*/


/*Начало стилей для section-my*/

.section-my-flex{
    display: flex;
}

/*Начало стилей для section-my-inf*/
.section-my-inf{
    width: 35%;
    height: 100px;
}

.section-my-inf-width{
    width: 80%;
    padding: 18px;
    padding-top: 38px;
    margin: 0 auto;
}

.section-my-inf-width img{
    opacity: 0;
}

.section-my-inf-width h2{
    color: #323232;
    font-size: 64px;
    font-weight: 900;
}

.progress-margen{
    margin-top: 40px;
}

.progress-margen a{
    transition: 0.4 ease-in;
}

.progress-margen a:hover{
    color: #BE9D70;
}

.prigress{
    display: flex;
    height: 14px;
    background-color: #323232;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #323232;
}

.progress-bar{
    position: relative;
    background-color: #BE9D70;
    transition:  0.6s ease;
    border-radius: 20px;
    
}

.Wed{
    margin-left: 97%; 
    margin-top: -24px;
}

/*Конец стилей для section-my-inf*/

/*Начало стилей для section-my-photo*/
.section-my-photo{
    width: 30%;
    height: 700px;
    background-image: url(../img/photo_2023-10-01_22-44-02\ 1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 40px 6px #323232;
}

/*Конец стилей для section-my-photo*/

/*Начало стилей для section-my-text*/

.section-I p{
    padding: 4px 0 ;
}
.section-my-text{
    width: 35%;
}

.section-my-text-header p{
    width: 80%;
    padding: 4px;
    background: #BE9D70;
    font-size: 28px;
}

.section-my-text-botton{
  display: flex;
  padding: 16px 0;
}

.section-my-text-botton p{
    position: relative;
}

.section-my-text-botton span{
    position: absolute;
    border: 1px solid #ffffff;
    width: 24px;
    margin-left: 90px;
    margin-top: 14px;
}
.section-my-text-botton img{
    width: 30px;
    padding: 0 6px;
    
}

.section-my-text-none{
    display: none;
}
/*Конец стилей для section-my-text*/

/*Начало стилей для section-services-flex*/

.section-services-flex{
    display: flex;
}


.section-services-div{
    text-align: center;
    background: #000;
    padding: 30px;
    margin: 30px;
}

.section-services-flex h2{
    padding: 10px 0;
}

/*Конец стилей для section-services-flex*/


/*Начало стилей для section-portfolio*/

.section-portfolio{
    margin: 80px 0;
}

.section-portfolio-inf {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 5px;
    text-align: center;
}

/* tabs */
.tab-list {
    display: flex;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}

.tab-item {
    flex-grow: 1;
    width: 50px;
    padding: 2px;
    transition: width 0.5s;
    background: #222;
}

/* content */
.content-list {
    width: 100%;
}

.content-item {
    display: none;
}

.tab-item.is-active {
    width: 80px;
    background: #BE9D70;
}

.content-item.is-active {
    display: block;
}

.content-item img{
    padding: 10px;
    width: 500px;
}
/*Конец стилей для section-portfolio*/


/*Начало стилей для section-contact*/


.section-contact-flex{
    display: flex;
}
    /*section-contact-left*/
    .section-contact-left{
        background-image: url(../img/image\ 4.png);
        width: 30%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
    }

    .section-contact-left div{
        padding: 14px;
    }

    .section-contact-left div h4{
        padding: 6px 0;
    }

    /*section-contact-right*/
    .section-contact-right{
        width: 70%;
    }
    .section-contact-right input, textarea{
        border: none;
        background: #222222;
        padding: 8px;
        margin: 5px;
        border-radius: 20px;
        color: #BE9D70;
    }

    .section-contact-right-top{
        display: flex;
    }
    .section-contact-right-top input{
        width: 50%;
    }
    .section-contact-right-botton input, textarea{
        width: 98%;
    }

    .section-contact-right button{
        border: none;
        background: #222;
        padding: 15px 25px;
        border-radius: 70px;
        color: #BE9D70;
        transition: 0.4s ease-in-out;
    }
    .section-contact-right button:hover{
        border: none;
        background: #BE9D70;
        color: #222;
        padding: 15px 25px;
        border-radius: 70px;
        
    }

    footer{
        background: #161616;
    }

    footer p{
        color: #BE9D70;
        font-size: 10px;
        text-align: right;
        padding-right: 20px;
    }
/*Конец стилей для section-contact*/
@media screen and (max-width: 1600px) {
    
     }

     @media screen and (max-width: 1366px) {
    
     }

@media screen and (max-width: 1200px) {
    .wrap{
        max-width: 1000px;
    }

    .content-item img{
    width: 305px;
    }
    .section-start div p{
        font-size: 52px;
    }
    .section-my-text-none-width{
 
        margin: 0 auto;
    }
  }
  @media screen and (max-width: 1025px) {
    .wrap{
        max-width: 900px;
    }
    .section-start div{
        padding: 12vh 0;
    } 
    .section-my-inf{
     width: 60%;
    }

    .section-my-photo{
        width: 40%;
        height: 700px;
    }

    .section-my-text{
        display: none;
    }
    .section-my-text-none{
        display: contents;
    }
    .section-my-text-header p {
        width: 420px;
    }
    .content-item img{
        width: 270px;
        }
     }
@media screen and (max-width: 925px) {
    .wrap{
        max-width: 782px;
    }
    .headermenu{
        justify-content: center;
    }
    .section-start div p, .section-start div span {
        font-size: 44px;
     } 
     .section-start {
        height: 60vh;    
    }
    h1 {
        font-size: 46px;
    }
        .section-contact-right-botton input, textarea {
        width: 96%;
    }
    .section-contact-right {
    width: 65%;
    }
    .section-contact-left {
    width: 35%;
    } 
    .content-item img {
    width: 230px;
}
}

@media screen and (max-width: 800px) {
     .wrap{
        max-width: 740px;
    } 

    .dws-menu ul{
        display: none;
    }

    input.tagglemenu{
        transition: 0.3s ease-in;
    }
    input.tagglemenu:checked ~ ul,
    input.taggleSubmenu:checked{
        display: block;
        position: relative;
    }
    .dws-menu li > ul{
        padding: 0 60px;
       }

    .dws-menu li:hover > ul{
        display: none;
        padding: 0 60px;
       }

    .dws-menu label.tagglemenu{
        display: block;
    }   
    
    .dws-menu label.taggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        cursor: pointer;
        display: block;
    }
    .transform-img img{
        margin-left: 98%;
       }
    
    .section-start div{
        padding: 8vh 0;
    } 
    .content-item img {
        width: 220px;
    }
    .section-portfolio {
        margin: 50px 0;
    } 
    .section-contact-right-top {
        display: contents;
    }
    .section-contact-right-top input {
        width: 96%;
    }


    .dws-menu{
        overflow: hidden;
       }
       .dws-menu ul{
        display: block;
        max-height: 0;
        transition: max-height 0.3s;
       }
       .dws-menu li>ul li ul{
        padding: 0 60px;
        position: absolute;
        right: auto;
        top: auto;
       }
       .dws-menu label.toggleMenu{
        display: block;
       }
       input.toggleMenu:checked + label.toggleMenu{
        background: #222;
        color: #fff;
       }
       input.toggleMenu:checked ~ ul,
       input.toggleSubmenu:checked ~ ul{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
       }
       .dws-menu label.toggleSubmenu{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
       }
       .dws-menu label.toggleSubmenu .fa{
        position: absolute;
        top: 15px;
        right: 30px;
       }
     }
 @media screen and (max-width: 640px) {
    *{
        font-size: 16px;
    }
    h1{
        font-size: 42px;
    }
    .wrap{
        max-width: 600px;
    }
    header ul li {
        margin: 0 23px 8px;
    }
    .section-start-p-1 {
        margin-left: 10px;
    }
    .section-start-p-2 {
        margin-left: -190px;
    }
    .section-start-p-3 {
        margin-left: 250px;
    }
    .section-my-text-botton img {
        padding: 8px 8px;
    }
    .content-item img {
        width: 174px;
    }
    .section-contact-flex {
        display: flex;
        flex-direction: column-reverse;
    }
    .section-my-text-botton p{
        padding-top:10px;
    }
    .section-my-text-botton span{
        margin-top: 22px;
    }
    .section-contact-left,.section-contact-right  {
        width: 100%
    }
    .section-contact-left
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .section-contact-right button{
        margin: 30px 0px;
        text-align: center;
    }
}
 @media screen and (max-width: 480px) {
    *{
        font-size: 15px;
    }
    .wrap{
        max-width: 390px;
    }
    .section-start p{
        margin: 0px;
        text-align: center;
    }
    .section-my-photo{
        opacity: 0;
        width: 0;
    }
    .section-my-text-header p {
        width: 310px;
    }
    .section-my-inf {
        width: 100%;
    }

    .section-my-inf-width img{
        opacity: 1;
    }
    .section-my-inf-width h2{
        font-size: 52px;
    }
    .section-my-text-botton p {
        padding-top: 10px;
    }
    .section-my-text-botton span {
        margin-left: 80px;
        margin-top: 20px;
    }
    .tab-list {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .tab-item.is-active {
        padding: 3px;
        width: 183px;
    ;
    }
    .tab-item {
        width: 180px
    }
}
@media screen and (max-width: 400px) {
    *{
        font-size: 15px;
    }
    .wrap{
        max-width: 370px;
    }

    header ul li {
        margin: 16px 8px;
    }
    .section-my-text-header p {
        width: 300px;
    }
    .section-start div p, .section-start div span{
        font-size: 40px;
    }
    .tab-item.is-active {
        padding: 8px 2px;
        width: 353px;
    }
    .tab-item {
        padding: 6px 2px;
        width: 350px;
        margin: 4px 0; 
    }
    .tab-list{
        display: grid;
        grid-template-columns: repeat(1,2fr);
        justify-items: center;
    }
    }
    @media screen and (max-width: 380px) {  
        *{
            font-size: 15px;
        }
        .wrap{
            max-width: 350px;
        }
        .tab-item.is-active {
            width: 323px;
        }
        .tab-item {
            width: 320px;
        }
        .section-contact-left div {
            padding: 0px;
        }
        }
@media screen and (max-width: 360px) {  
        .wrap{
            max-width: 330px;
        }
        .tab-item.is-active {
            width: 303px;
        }
        .tab-item {
            width: 300px;
        }
        }
@media screen and (max-width: 340px) {  
        *{
            font-size: 14px;
        }
        .wrap{
            max-width: 310px;
        }
        .tab-item.is-active {
            width: 283px;
        }
        .tab-item {
            width: 280px;
        }
        }
@media screen and (max-width: 320px) {  
        *{
            font-size: 14px;
        }
        .wrap{
            max-width: 300px;
        }
        .tab-item.is-active {
            width: 283px;
        }
        .tab-item {
            width: 280px;
        }
        .section-my-text-botton span {
            margin-left: 70px;
        }
        }